/*
	Table Style Sheet
	Movie List and Award Info

   Filename:  g_table.css

  
Author: Taylor Dean
MSU Denver login name: Tdean12
Date Created: 5/11/2018
Date Due: 5/11/2018
Modified: 5/11/2018
Editor:	 Notepad


*/


/* HTML Styles */

html {
	background: url("Back_S.png");
	background-repeat:no-repeat;
    background-size:cover;
    
   color: rgb(32, 22, 150);
   font-size: 12px;
}

/* Article  Styles */
article {	
   clear: both;			   
   padding: 30px 20px 10px 20px;
}

article header {
	margin: 20px auto;	
	width: 70%;
	display: block;
}

article h1 {
	padding-bottom: 10px;
	display: block;
	color: rgb(32, 22, 238);	
	font-family: Baskerville, "Palatino Linotype", Palatino, 
	             "Century Schoolbook", "Times New Roman", serif;
	font-size: 3em;
	text-align: center;
}



/* Table Cell Styles */
	
	table th, table td {
		border: 1px solid gray;
		padding: 5px;
		vertical-align: bottom;
	}


/* Row Group Styles */


	table thead {
		background: rgb(32, 22, 150);
		color: white;
	}
	table tfoot {
		background: black;
		color: white;
	}
	
	table thead tr {
		height: 30px;
	}
	
	tabletbody tr {
		height: 40px;
	}
	
	
/* Footer Styles */

footer {
	background-color: rgb(32, 22, 150);
	color: white;	
	font-size: 0.7em;
	text-align: center;
	padding: 15px;
}
	
